.projects_container{
    padding: 0 2rem;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
}
.projects_items{
    width: 100%;
    height: 100%;
}
.projects_item{
    height: 30rem;
    width: 100%;
}
.projects_item_info{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.projects_item_img{
    height: 50%;
    width: 100%;
    display: flex;
}
.projects_item_img img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.projects_item_img img:hover{
    cursor: pointer;
    width: 80%;
    opacity: 1;
    filter: contrast(120%);
}