.projects_container{
    padding: 0 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.projects_items{
    width: 100%;
    height: 100%;
}
.projects_item{
    height: 30rem;
    width: 100%;
}
.projects_item_info{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.projects_item_img{
    height: 50%;
    width: 100%;
    display: flex;
}
.projects_item_img img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.2s ease 0s;
}
.projects_item_img img:hover{
    cursor: pointer;
    width: 80%;
    opacity: 1;
    filter: contrast(120%);
}
@media (min-width: 768px){
    .projects_container h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .projects_items{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 45rem;
    }
    .projects_item{
        width: 100%;
        height: 49%;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
    }
    .projects_item_info{
        padding: 0 1rem;
        height: 100%;
        width: 50%;
    }
    .projects_item_info h3{
        font-size: 1.5rem;
    }
    .projects_item_info p{
        font-size: 1.2rem;
    }
    .projects_item_img{
        height: 100%;
        width: 50%;
    }
}